/* MediaPlayer.css */

.media-list {
    display: flex;
    flex-direction: column;
  }
  
  .media-item {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .media-item:hover {
    background-color: greenyellow;
    color: black;
  }
  
  .media-item.active {
    background-color: green;
    color: black;
  }
  
  .media-title {
    margin-right: 10px;
  }
  